extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/add')
    #form-group.mt-3
      label Title:
      input.form-control(name='title', type='text')
    #form-group.mt-3
      label Body:
      textarea.form-control(name='body')
      
    input.btn.btn-primary.mt-3(type='submit', value='Submit')