extends layout

block content
  h1 #{title}
  form(method='POST', action='/articles/edit/'+ article._id)
    #form-group.mt-3
      label Title:
      input.form-control(name='title', type='text', value=article.title)
    #form-group.mt-3
      label Author:
      input.form-control(name='author', type='text', value=article.author)
    #form-group.mt-3
      label Body:
      textarea.form-control(name='body')= article.body
      
    input.btn.btn-primary.mt-3(type='submit', value='Submit')