extends layout

block content
  h1 Login
  form(method='POST', action='/users/login')
    #form-group.mt-3
      label Username:
      input.form-control(name='username', type='text')
    #form-group.mt-3
      label Password:
      input.form-control(name='password', type='password')
      
    input.btn.btn-primary.mt-3(type='submit', value='Submit')